body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    text-align: center;
    margin-top: 50px;
    background-image: url("https://cdn.pixabay.com/photo/2024/02/22/09/07/sunset-8589496_1280.jpg");
    background-size: cover; /* ขยายภาพเต็มพื้นที่ของ element */
    background-position: center; /* จัดภาพตรงกลาง */
    color: #fff; /* เปลี่ยนสีตัวอักษรเป็นขาว */
    padding: 20px; /* เพิ่มระยะห่างขอบของ element */
}

  .clock {
    display: inline-block;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 2s ease-out;
  }
  
  .time {
    font-size: 50px;
    font-weight: bold;
    color: #333;
    animation: fadeIn 2s ease-out;
  }
  
  .date {
    margin-top: 20px;
    font-size: 24px;
    color: #666;
    animation: fadeIn 2s ease-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .calendar {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .month {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }
  
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  
  .day {
    padding: 10px;
    border: 1px solid #ccc;
    color: #333;
  }
  
  .day:hover {
    background-color: #f9f9f9;
  }

  .calendar{
    margin-top: 20px;
  }

  